<div class="skill-component">
    <fieldset class="skills can-popout" data-component="{{#if favouriteOnly}}favourite-skills{{else}}skills{{/if}}">
        <legend>{{localize "PTR2E.ActorSystem.FIELDS.skills.label"}}</legend>
        <div class="skill-list scroll">
            <header class="skill">
                <div class="skill-icon"></div>
                <div class="skill-name">Skill Name</div>
                <div class="skill-total">Skill Total</div>
                <div class="skill-controls{{#if favouriteOnly}} hidden{{/if}}"></div>
            </header>
            {{#each skills.favourites as |group|}}
                {{> group group=group favouriteOnly=../favouriteOnly depth="0"}}
            {{/each}}
            {{#unless favouriteOnly}}
                {{#each skills.normal as |group|}}
                    {{> group group=group depth="0"}}
                {{/each}}
                {{#each skills.hidden as |group|}}
                    {{> group group=group hidden=@root.hideHiddenSkills depth="0"}}
                {{/each}}
            {{/unless}}
        </div>
    </fieldset>
</div>

{{#*inline "skill"}}
    <div class="skill {{skill.slug}}{{#if skill.favourite}} favourite{{/if}}{{#if hidden}} hidden{{/if}}{{#if skill.hidden}} hidden-skill{{/if}} depth-{{depth}}" data-tooltip-direction="{{direction}}" data-slug="{{skill.slug}}" data-group="{{skill.group}}" data-tooltip="{{formatSlug skill.slug}}">
        <div class="skill-icon rollable">
            <img class="dice" src="icons/dice/d10black.svg" data-tooltip="Roll {{formatSlug skill.slug}}">
        </div>
        <span class="skill-name">{{formatSlug skill.slug}}</span>
        <span class="skill-total">{{skill.total}}</span>
        <div class="skill-controls item-controls{{#if favouriteOnly}} hidden{{/if}}">
            <!-- Favourite / Hide Skill -->
            {{#if skill.favourite}}
                <a style="color: gold;" class="item-control favourite-skill" data-tooltip-direction="UP" data-tooltip="Unfavourite {{formatSlug skill.slug}}" data-action="favourite-skill"><i class="fas fa-star"></i></a>
            {{else}}
                <a class="item-control favourite-skill" data-tooltip-direction="UP" data-tooltip="Favourite {{formatSlug skill.slug}}" data-action="favourite-skill"><i class="far fa-star"></i></a>
            {{/if}}
            {{#if skill.hidden}}
                <a style="color: slategray;" class="item-control hide-skill" data-tooltip-direction="UP" data-tooltip="Unhide {{formatSlug skill.slug}}" data-action="hide-skill"><i class="fas fa-eye-slash"></i></a>
            {{else}}
                <a class="item-control hide-skill" data-tooltip-direction="UP" data-tooltip="Hide {{formatSlug skill.slug}}" data-action="hide-skill"><i class="far fa-eye"></i></a>
            {{/if}}
        </div>
    </div>
{{/inline}}

{{#*inline "group"}}
{{#if group.label}}
    <div class="skill-group">
        <div class="skill-group-label skill depth-{{depth}}" data-tooltip-direction="LEFT" data-tooltip="{{group.label}}" data-slug="{{group.label}}">{{localize (concat (concat "PTR2E.Skills." group.label) ".label")}} {{localize "PTR2E.ActorSystem.FIELDS.skills.label"}}</div>
        {{#each group.skillsAndGroups as |skillOrCategory|}}
            {{#if skillOrCategory.isGroup}}
            {{> group group=skillOrCategory.subcategory direction="LEFT" favouriteOnly=../favouriteOnly hidden=../hidden depth=skillOrCategory.depth}}
            {{else}}
            {{> skill skill=skillOrCategory.skill direction="LEFT" favouriteOnly=../favouriteOnly hidden=../hidden depth=skillOrCategory.depth}}
            {{/if}}
        {{/each}}
    </div>
{{else}}
    {{#each group.skillsAndGroups as |skillOrCategory|}}
        {{#if skillOrCategory.isGroup}}
        {{> group group=skillOrCategory.subcategory direction="LEFT" favouriteOnly=../favouriteOnly hidden=../hidden depth=skillOrCategory.depth}}
        {{else}}
        {{> skill skill=skillOrCategory.skill direction="LEFT" favouriteOnly=../favouriteOnly hidden=../hidden depth=skillOrCategory.depth}}
        {{/if}}
    {{/each}}
{{/if}}
{{/inline}}