<section class="skill-editor ptr2e-modifications">
    <fieldset class="controls">
        <legend>Controls</legend>
        <div class="buttons">
            <button type="button" data-action="reset-skills">Reset All Investment</button>
            {{#if isAce}}
            <button type="button" data-action="change-resources">Change Resources</button>
            <button type="button" data-action="change-luck">Change Luck</button>
            {{/if}}
        </div>
        <div class="points">
            <label>Spent Points: <span>{{points.spent}} / {{points.total}}</span></label>
            <label>Points Available: <span><b>{{points.available}}</b></span></label>
        </div>
    </fieldset>
    <fieldset class="skills">
        <div class="scroll">
            <header class="skill">
                <label>Skill</label>
                <label>Base</label>
                <label>Current Investment</label>
                <label>Apply Investment</label>
            </header>
            {{#if isAce}}
            {{!-- Luck --}}
            <div class="skill">
                <label class="skill" data-tooltip-direction="LEFT" data-slug="{{luck.slug}}" data-group="{{luck.group}}" data-tooltip="{{luck.slug}}">{{luck.label}}</label>
                <label>{{luck.value}}</label>
                <label>{{luck.rvs}}</label>
                <button type="button" data-action="roll-luck">{{#if @root.isReroll}}Reroll{{else}}Roll{{/if}} Luck</button>
            </div>
            {{!-- Resources --}}
            <div class="skill">
                <label class="skill" data-tooltip-direction="LEFT" data-slug="{{resources.slug}}" data-group="{{resources.group}}" data-tooltip="{{resources.slug}}">{{resources.label}}</label>
                <label>{{resources.value}}</label>
                <label>{{resources.rvs}}</label>
                {{#if (not @root.levelOne true)}}
                    <label></label>
                {{else}}
                    <input name="{{resources.slug}}.investment" type="number" min="{{resources.min}}" max="{{resources.max}}" value="{{resources.investment}}" data-slug="{{resources.slug}}" step="1"/>
                {{/if}}
            </div>
            {{/if}}
            {{#each skills}}
                {{> skillOrGroup}}
            {{/each}}
        </div>
    </fieldset>
    <footer class="controls">
        {{#if valid}}
        <button type="submit">{{localize "PTR2E.SkillsEditor.Apply.apply"}}</button>
        {{else}}
        {{#if showOverrideSubmit}}
        <button type="submit" formnovalidate="formnovalidate">{{localize "PTR2E.SkillsEditor.Apply.override"}}</button>
        {{/if}}
        <p>{{localize "PTR2E.SkillsEditor.Apply.fail"}}</p>
        {{/if}}
    </footer>
</section>

{{#*inline "skill"}}
<div class="skill depth-{{depth}}">
    <label class="skill" data-tooltip-direction="LEFT" data-slug="{{slug}}" data-group="{{group}}" data-tooltip="{{slug}}">{{label}}</label>
    <label>{{value}}</label>
    <label>{{rvs}}{{#if bonusFromGroups}} (+{{bonusFromGroups}}){{/if}}</label>
    {{#if (eq this.slug "luck")}}
        <button type="button" data-action="roll-luck">{{#if @root.isReroll}}Reroll{{else}}Roll{{/if}} Luck</button>
    {{else}}
        {{#if (and (eq this.slug "resources") (not @root.levelOne true))}}
            <label></label>
        {{else}}
            <input name="{{slug}}.investment" type="number" min="{{min}}" max="{{max}}" value="{{investment}}" data-slug="{{slug}}" step="1"/>
        {{/if}}
    {{/if}}
</div>
{{/inline}}

{{#*inline "skillGroup"}}
<div class="skill-group depth-{{depth}}">
    <label class="skill-group" data-tooltip-direction="LEFT" data-slug="{{slug}}" data-group="{{parentGroup}}" data-tooltip="{{slug}}">{{label}} Skills</label>
    <label>{{value}}</label>
    <label>{{rvs}}{{#if bonusFromGroups}} (+{{bonusFromGroups}}){{/if}}</label>
    <input name="{{slug}}.investment" type="number" min="{{min}}" max="{{max}}" value="{{investment}}" data-slug="{{slug}}" step="1"/>
</div>
{{#each skills}}
    {{> skillOrGroup}}
{{/each}}
{{/inline}}

{{#*inline "skillOrGroup"}}
{{#if isGroup}}
    {{> skillGroup}}
{{else}}
    {{> skill}}
{{/if}}
{{/inline}}